<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WellPass</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/dashboard.css" />
    <link rel="stylesheet" href="/form.css" />
    <link rel="stylesheet" href="/index2.css" />
</head>

<body>
    <header id="showcase">
        <div class="navbar-fixed">
            <nav class="none" style="padding:5px 10px; position: fixed;">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">
                        Well<span style="color: red;">Pass</span></a>
                    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                        <i class="material-icons">menu</i>
                    </a>

                    <ul class="right hide-on-med-and-down ">
                        <li><a href="#">Logged in as 
                            <% if(user.name){ %>
                                <%= user.name %>
                            <% }else if(hospital.name){ %>
                                 <%= hospital.name %>
                            <% } else if(admin.name){ %>
                                <%= admin.name %>
                            <% } %>
                            </a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-nav">
            <li>
                <a style="color:white;" href="#">
                    Logged in as 
                    <% if(user.name){ %>
                        <%= user.name %>
                            <% }else if(hospital.name){ %>
                                <%= hospital.name %>
                                    <% } else if(admin.name){ %>
                                        <%= admin.name %>
                                            <% } %>
                </a>
            </li>
            <li><a style="color:white;" href="/auth/logout">Logout</a></li>
        </ul>