<%- include("partials/header2") %>


   <% hospitals.map(hospital=> { %>
    <div class="tab">
        <div style="width:100%; border-radius: 20px;" class="ui card ">
            <div class="content">
                <a class="header" href="<%= hospital.website %>"><%= hospital.name %></a>
                <div class="meta">
                    <span class="category"><%= hospital.registrationNumber %></span>
                </div>
                <div class="description">
                    <p><%= hospital.description %></p>
                </div>
                <div class="address">
                    <p><%= hospital.address %></p>
                </div>
                <div class="phone">
                    <p><%= hospital.phone%></p>
                </div>
                <div class="email">
                    <p><%= hospital.email %></p>
                </div>
            </div>
            <div class="extra content">
            <div class="left floated author">
                <button class="circular ui small blue button mod">Approve Hospital</button>
            </div>
            <div class="right floated author">
               Owner
            </div>
            </div>
        </div>
    <% }) %>
    <div style="margin: 0 auto;" class="ui basic modal">
        <div class="ui icon header">
            <i class="hospital icon"></i> Generate Verification Status
        </div>
        <div class="content">
            <p style="text-align: center;">Plase verify the status on the hospital,to allow the hospital to generate well pass.</p>
        </div>
        <div style="text-align: center;" class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i> Disapprove
            </div>
            <div class="ui green basic ok inverted  button">
                <i class="checkmark icon"></i> Approve
            </div>
        </div>
    </div>
    </header>
    <%- include("partials/footer2") %>