<%- include("partials/dashboardHeader") %>


    <div class="ui dimmer" id="dimmer">
        <div class="ui massive text loader">
            <h5>Waiting for your Transaction to be mined....</h5>
        </div>
    </div>

    <% hospitals.map(hospital=> { %>
        <div class="tab">
            <div style="width:100%; border-radius: 20px;" class="ui card ">
                <div class="content">
                    <a class="header" href="<%= hospital.website %>">
                        <%= hospital.name %>
                    </a>
                    <div class="meta">
                        <span class="category"><%= hospital.registrationNumber %></span>
                    </div>
                    <div class="description">
                        <p>
                            <%= hospital.description %>
                        </p>
                    </div>
                    <div class="address">
                        <p>
                            <%= hospital.address %>
                        </p>
                    </div>
                    <div class="phone">
                        <p>
                            <%= hospital.phone%>
                        </p>
                    </div>
                    <div class="email">
                        <p>
                            <%= hospital.email %>
                        </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="left floated author">
                        <button onclick="modshow(this.id)" id="<%=hospital.publicKey%>" class="circular ui small blue button ">Approve Hospital</button>
                    </div>
                    <div class="right floated author">
                        Owner
                    </div>
                </div>
            </div>

            <div style="margin: 0 auto;" class="ui basic modal <%= hospital.publicKey %> first">
                <div class="ui icon header ">
                    <i class="hospital icon "></i> Generate Verification Status
                </div>
                <div class="content ">
                    <p style="text-align: center; ">Plase verify the status on the hospital,to allow the hospital to generate well pass.</p>
                </div>
                <div style="text-align: center; " class="actions ">
                    <div class="ui red basic cancel inverted button ">
                        <i class="remove icon "></i> Disapprove
                    </div>
                    <div onclick="addHospital(this.id) " id="<%= hospital.publicKey %>" class="ui green basic ok inverted button ">
                        <i class="checkmark icon "></i> Approve
                    </div>
                </div>
            </div>
            <div style="margin: 0 auto; " class="ui basic modal <%= hospital.publicKey %> second">
                <div class="ui icon header ">
                    <i style="color: green; font-size: 5em; " class="checkmark icon "></i><span style="font-size: 2em; ">Transaction
                            <span style="color:green ">Confirmed!</span></span>
                </div>
                <div class="actions ">
                    <form method="POST" action="/admin/<%= hospital._id %>/approve">
                        <button type='submit' class="ui red basic ok inverted button "><i class="remove icon "></i>Close</button>
                    </form>
                </div>
            </div>
            <div style="margin: 0 auto;" class="ui basic modal mod <%= hospital.publicKey%> third">
                <div class="ui icon header">
                    <i style="color: red; font-size: 5em;" class="remove icon"></i><span style="font-size: 2em;">Transaction
                        <span style="color:red">Failed!</span></span>
                </div>
                <div class="actions">
                    <button class="ui red basic ok inverted button"><i class="remove icon"></i>Close</button>
                </div>
            </div>

            <% }) %>

                </header>

                <%- include("partials/adminFooter") %>