<%- include("partials/dashboardHeader") %>
    <!-- FORM -->
    <div class="form1">
        <div class="ui raised segment dimmable">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
            <h2 class="ui header"><i style="color: yellow;" aria-hidden="true" class="plus icon"></i>Reguest your data</h2>
            <p style="color: black;">Hey,
                <%= user.name%> Get your COVID'19 data</p>
            <div class="ui divider"></div>
            <form action="/users/request-data" method="POST" class="ui form" id="request-data-from">
                <div class="field">
                    <div class="field"><label class="ui header">Comment</label>
                        <textarea placeholder="Enter comments" name="comment"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="field"><label class="ui header">Hospital Name</label>
                        <select class="ui fluid dropdown" name="hospitalId" id="request-data-form">
                    <% hospitals.map(hospital => { %>
                        <option value="<%=hospital.id%>">
                            <%= hospital.name %>
                        </option>
                    <%})%>
                  </select>
                    </div>
                    <button type="submit" class="ui red button"><div class="content">Request Data</div></button>
            </form>
            </div>
        </div>

        </header>

        <%- include("partials/footer") %>